/**
 * 作者：viewweiwu
 * github: https://github.com/viewweiwu/v2ex-zhihu-theme
 * 帖子地址: https://v2ex.com/t/819780
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

body #Wrapper {
  background-image: unset !important;
  background-color: #f5f5f5;
}

select {
  padding: 5px;
  border-radius: var(--box-border-radius);
  border: 1px solid var(--box-border-color);
}

:root {
  --box-border-radius: 2px;
  --box-border-color: #f0f2f7;
  --link-color: #8590a6;
  --link-hover-color: #294a8e;
  --box-border-color: #f0f2f7;
  --primary-color: #1890ff;
  --primary-color-hover: #40a9ff;
}

a:active,
a:link,
a:visited {
  color: var(--link-color);
}

a.topic-link:active,
a.topic-link:link {
  color: #333;
  font-size: 18px;
}

a.topic-link:hover {
  color: var(--link-hover-color);
}

.cell {
  padding: 12px;
}

#Top {
  height: 52px;
  border-bottom: none;
  background-color: unset;
  box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
}

#Top > .content {
  height: 100%;
  display: flex;
  align-items: center;
}

#Rightbar .fade {
  color: #333;
}

#Tabs {
  padding: 12px 0 !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body .box {
  border-bottom: none;
}

#Main .box {
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}

#Main .item a:hover {
  text-decoration: none !important;
}

#Main .cell.item {
  padding: 16px 24px;
}

#Main .cell.item td:nth-child(3) {
  padding-left: 8px;
}

#Main .cell td:nth-child(2) {
  line-height: unset !important;
}

.count_livid {
  padding: 0 !important;
  margin-right: 0 !important;
  color: #999 !important;
  font-family: 'Bender' !important;
  background-color: unset !important;
}

.topic_info {
  margin-top: 4px;
  display: inline-block;
}

.topic_info a {
  color: var(--color-fade);
  font-weight: normal;
}

.topic_info a:hover {
  color: var(--link-hover-color);
}

a.tab:active,
a.tab:link,
a.tab:visited {
  min-width: 4.8em;
  padding: 12px 6px 12px 24px;
  margin-right: 0 !important;
  font-size: 16px;
  font-weight: 500;
}

.a.tab_current:active,
a.tab_current:link,
a.tab_current:visited {
  min-width: 4.8em;
  padding: 12px 6px 12px 24px;
  margin-right: 0 !important;
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 500;
  background-color: unset;
}

a.tab:hover {
  color: var(--link-hover-color);
  background-color: unset;
}

h1 {
  margin: 0 0 16px;
}

a.top:link,
a.top:visited {
  font-weight: unset;
  color: var(--link-color);
}

#Main .cell,
.header,
.subtle,
.message,
.note_item {
  padding: 16px 24px;
}

#Main .page_current,
#Main .page_normal {
  padding: 5px 10px;
}

.cell.alt,
.status,
.inner.alt {
  padding: 16px 24px !important;
}

.light-toggle img {
  height: 16px;
}

#reply-box .flex-one-row a:nth-child(1) {
  white-space: nowrap;
  margin-right: -1em;
}

#reply-box a:nth-child(2) {
  bottom: 16px;
  right: 16px;
  width: 3.6em;
  height: 3.6em;
  line-height: 1.3;
  padding: 0 0.8em;
  outline: 1px solid var(--box-border-color);
  border-radius: var(--box-border-radius);
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  background-color: var(--box-background-color);
  position: fixed;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: unset !important;
}

#reply-box a:nth-child(2):hover {
  filter: brightness(1.2);
}

#SecondaryTabs,
.inner {
  padding: 10px 24px;
}

#Rightbar .inner {
  padding: 10px;
}

#SecondaryTabs a {
  color: #999;
}

#SecondaryTabs a:hover {
  color: #06f;
}

.site-nav {
  padding-top: 0;
}

.site-nav .tools * {
  margin-left: 24px;
}

.topic_content {
  line-height: 1.8;
}

.topic_content,
.topic_content {
  font-size: 16px;
}

.topic_content p {
  margin: 1.8em 0;
}

.topic_buttons {
  background: unset;
  padding: 12px;
}

.topic_buttons > *:nth-child(2)::before {
  content: '🌟';
  margin-right: 0.5em;
}

.topic_buttons > *:nth-child(3)::before {
  content: '🪶';
  margin-right: 0.5em;
}

.topic_buttons > *:nth-child(4)::before {
  content: '🥱';
  margin-right: 0.5em;
}

.topic_buttons #topic_thank a::before {
  content: '🙏';
  margin-right: 0.5em;
}

.reply_content {
  font-size: 16px;
  line-height: 1.8;
}

body .normal.button,
body .super.button {
  cursor: pointer;
  color: #fff !important;
  font-weight: unset !important;
  background: unset !important;
  background-color: var(--primary-color) !important;
  background-image: unset !important;
  text-shadow: unset !important;
  box-shadow: unset !important;
  border: 1px solid var(--primary-color) !important;
}

body .normal.button:hover,
body .super.button {
  color: #fff !important;
  background-color: var(--primary-color-hover) !important;
  border: 1px solid var(--primary-color-hover) !important;
}

body td.normal.button.disable_now,
body td.super.button.disable_now {
  color: #00000040 !important;
  border-color: #d9d9d9 !important;
  background: #f5f5f5 !important;
}

#Bottom {
  border-top: none;
}

#Rightbar td {
  border-left: none !important;
  border-right: none !important;
}

select,
.sl,
.ml,
.select2-container--default .select2-selection--single {
  border-color: #ccc;
  border-radius: var(--box-border-radius) !important;
}

#search-container::before {
  width: 47px;
  top: unset;
}

#search-container {
  height: 34px;
  border-radius: 17px;
}

#search-container #search {
  height: 34px;
  padding-left: 12px;
}

.select2-container--default .select2-selection--single {
  border-radius: var(--box-border-radius);
}

.wwads-cn {
  border-bottom: none;
}

body #Wrapper.Night {
  background: none !important;
  background-image: none !important;
  background-color: #141414 !important;
  --box-border-color: #22303f;
}

.Night a.topic-link:active,
.Night a.topic-link:link {
  color: #a3b4c1;
}

.Night a.topic-link:visited {
  color: #606060;
}

.Night #Rightbar .fade {
  color: #ccc;
}

.Night .box {
  border: none;
}

.Night .normal.button,
.Night .super.button {
  color: #fff !important;
  border-color: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
}

.Night td.normal.button.disable_now,
.Night td.super.button.disable_now {
  color: rgba(255, 255, 255, 0.3) !important;
  border-color: #434343 !important;
  background: rgba(255, 255, 255, 0.08) !important;
}

.Night .normal.button:hover,
.Night .super.button {
  color: #fff;
  border-color: var(--primary-color-hover) !important;
  background-color: var(--primary-color-hover) !important;
}

.Night .normal.button:hover:enabled,
.Night .super.button {
  background-color: var(--primary-color-hover) !important;
  background: var(--primary-color-hover) !important;
}

.Night .outdated {
  color: #5d9bad;
}

.Night img {
  filter: brightness(0.9);
}

.Night .topic_info a {
  color: #738292;
}

.Night select {
  color: #d1d5d9;
  background: transparent;
}

.Night .select2-container--default .select2-selection--single {
  border-color: var(--box-border-color);
  background-color: #18222d;
}

.Night .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #d1d5d9;
}

.Night .box form .cell {
  background-color: transparent !important;
}

.Night .selectboxit-default-arrow {
  border-top: 4px solid #fff;
}

.Night select,
.Night .sl,
.Night .ml,
.Night .select2-container--default .select2-selection--single {
  border-color: var(--box-border-color);
}
